%nav.chat
  = render "chat-side"
      
  .chat-main
    .chat-header
      .main-left-box
        %h4.current-group
          = @group.title
        %ul.member-list
          Menber : 
          %li.member-list__menber
            - @members.each do |member|
              = member.name
      .main-right
        .main-right__btn
          =link_to "Edit", edit_group_path(@group)
    
    .chat-message
      = render @messages
      

    .form
      = form_for [@group, @message], html:{class: "new-message"} do |f|        
        .form__mask
          = f.text_field :content, class: 'form__mask__message', placeholder: 'type a message'
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'form__mask__image'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

    